@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap");
.social-icon {
  position: relative;
  height: 30px;
  width: 30px;
}

.social-icon.vk {
  background: url("../img/icon/vkontakte.svg") center no-repeat;
}

.social-icon.vk-sm {
  background: url("../img/icon/vk_small.svg") center no-repeat;
}

.social-icon.inst {
  background: url("../img/icon/instagram.svg") center no-repeat;
}

.social-icon.youtube {
  background: url("../img/icon/youtube.svg") center no-repeat;
  height: 21px;
}

.subscribe-item-btn {
  position: relative;
}
.subscribe-item-btn .social-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  height: 14px;
  width: 14px;
  display: block;
  background-size: contain;
}

/* Важно! Картинки отображаются только на средних и выше размеров экрана.
(Скрываются media запросом )*/
.thumbnails::after, .thumbnails::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 100%;
  background-size: 100% auto !important;
  background-position: center !important;
  background-repeat: repeat-y !important;
}

/* Контейнер для объекта thumbnails*/
.thumb-container {
  position: absolute;
  display: none;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
.thumb-container .thumbnails, .thumb-container .thumbnails::after, .thumb-container .thumbnails::before {
  display: none;
}

/* родитель, в котором содержатся: 2 псевдоэлемента, которые и отвечают за отображение
картинок по бокам */
.thumbnails {
  position: absolute;
  width: 100%;
  height: 100%;
}

.thumbnails::before {
  left: 15px;
}

.thumbnails::after {
  right: 15px;
}

/* вариации картинок */
.thumbnails.part-1::before {
  background: url("../img/bg/bg-thumbnails/decor_picture_left.svg");
}
.thumbnails.part-1::after {
  background: url("../img/bg/bg-thumbnails/decor_picture_right.svg");
}

.thumbnails.part-2::before {
  background: url("../img/bg/bg-thumbnails/decor_picture_left_small.svg");
}
.thumbnails.part-2::after {
  background: url("../img/bg/bg-thumbnails/decor_picture_right_small.svg");
}

@media (min-width: 1560px) {
  .thumb-container, .thumbnails, .thumbnails::after, .thumbnails::before {
    display: block !important;
  }
}
.title-decoration, .content-title, .section-subscribe-subtitle, .section-questions-title, .section-about-title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #4f8757;
  margin-top: 75px;
  margin-bottom: 60px;
  padding-bottom: 0.2em;
}
.title-decoration::after, .content-title::after, .section-subscribe-subtitle::after, .section-questions-title::after, .section-about-title::after {
  content: "";
  position: absolute;
  bottom: -60%;
  background-image: url("../img/wawe/wawe_under_text.png");
  background-repeat: repeat-x;
  background-size: auto 14px;
  background-position: center;
  width: 340px;
  height: 18px;
}

.title-decoration, .content-title, .section-subscribe-subtitle, .section-questions-title, .section-about-title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #4f8757;
  margin-top: 75px;
  margin-bottom: 60px;
  padding-bottom: 0.2em;
}
.title-decoration::after, .content-title::after, .section-subscribe-subtitle::after, .section-questions-title::after, .section-about-title::after {
  content: "";
  position: absolute;
  bottom: -60%;
  background-image: url("../img/wawe/wawe_under_text.png");
  background-repeat: repeat-x;
  background-size: auto 14px;
  background-position: center;
  width: 340px;
  height: 18px;
}

/* Важно! Картинки отображаются только на средних и выше размеров экрана.
(Скрываются media запросом )*/
.thumbnails::after, .thumbnails::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 100%;
  background-size: 100% auto !important;
  background-position: center !important;
  background-repeat: repeat-y !important;
}

/* Контейнер для объекта thumbnails*/
.thumb-container {
  position: absolute;
  display: none;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
.thumb-container .thumbnails, .thumb-container .thumbnails::after, .thumb-container .thumbnails::before {
  display: none;
}

/* родитель, в котором содержатся: 2 псевдоэлемента, которые и отвечают за отображение
картинок по бокам */
.thumbnails {
  position: absolute;
  width: 100%;
  height: 100%;
}

.thumbnails::before {
  left: 15px;
}

.thumbnails::after {
  right: 15px;
}

/* вариации картинок */
.thumbnails.part-1::before {
  background: url("../img/bg/bg-thumbnails/decor_picture_left.svg");
}
.thumbnails.part-1::after {
  background: url("../img/bg/bg-thumbnails/decor_picture_right.svg");
}

.thumbnails.part-2::before {
  background: url("../img/bg/bg-thumbnails/decor_picture_left_small.svg");
}
.thumbnails.part-2::after {
  background: url("../img/bg/bg-thumbnails/decor_picture_right_small.svg");
}

@media (min-width: 1560px) {
  .thumb-container, .thumbnails, .thumbnails::after, .thumbnails::before {
    display: block !important;
  }
}
.cafe-tabs-target {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
}
.cafe-tabs-target-link {
  border: 1px solid #ffb236;
  border-radius: 5px;
  color: black;
  padding: 10px 40px;
  cursor: pointer !important;
  margin: 10px;
}
.cafe-tabs-target-link:focus {
  opacity: inherit;
  box-shadow: 3px 3px 9px #ccc;
}
.cafe-tabs-target-link.active {
  background: #ffb236;
}
.cafe-tabs-block {
  display: none;
  flex-direction: column;
  padding: 90px 0 0;
}
.cafe-tabs-block-info {
  position: relative;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 445px;
  width: 775px;
  max-height: 445px;
  max-width: 750px;
  overflow: hidden;
  border-radius: 0 50px 0 50px;
}
.cafe-tabs-block-info img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.cafe-tabs-block-info-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white !important;
  background: #145d6b;
  opacity: 0.7;
  padding: 15px 30px;
  bottom: 0;
}
.cafe-tabs-block.witch-image {
  padding: 10px 0 0;
}
.cafe-tabs-block.witch-image .menu-section {
  margin-top: 50px;
}
.cafe-tabs-block.active {
  display: flex;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
.menu-section:not(:first-child) {
  margin-top: 90px;
}
.menu-section:last-child {
  border-bottom: 0;
}
.menu-section * {
  color: #4d4d4d;
}
.menu-section-title {
  text-transform: uppercase;
  font-size: 28px;
  border-bottom: 1px dashed #ffb236;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.menu-section-image {
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translate(-50%);
}
.menu-section-image img {
  height: auto;
  width: 200px;
}
.menu-section-items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.menu-section-items.last-items-border-none > .menu-section-item:nth-last-child(2) {
  border-bottom: 0 !important;
}
.menu-section-item {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dashed black;
}
.menu-section-item:nth-child(even) {
  padding-left: 100px;
}
.menu-section-item:nth-child(odd) {
  border-right: 1px dashed black;
  padding-right: 100px;
}
.menu-section-item:last-child {
  border-bottom: 0;
}
.menu-section-item-block-desc {
  flex-basis: 70%;
}
.menu-section-item-block-desc-title {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 6px;
}
.menu-section-item-block-desc-text {
  margin-bottom: 10px;
}
.menu-section-item-block-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 30%;
}
.menu-section-item-block-price-value {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}
.menu-section-item-block-price-value::after {
  content: " " attr(data-currency);
}
.menu-section-item-block-price-weight {
  margin-top: 6px;
  font-size: 14px;
}
.menu-section.no-category-image {
  margin-top: -25px;
}

@media screen and (max-width: 992px) {
  .cafe-tabs-block {
    padding: 40px 0 0;
  }
  .cafe-tabs-block-info {
    height: auto;
    width: auto;
    border-radius: 0 40px 0 40px;
    overflow: hidden;
  }

  .menu-section:not(:first-child) {
    margin-top: 50px;
  }
  .menu-section-item:nth-child(even) {
    padding-left: 10px;
  }
  .menu-section-item:nth-child(odd) {
    padding-right: 10px;
  }
  .menu-section-image {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .cafe-title {
    font-size: 26px;
    padding-bottom: 5px;
  }
  .cafe-title::after {
    width: 200px;
  }
  .cafe-tabs-block {
    padding: 30px 0 20px;
  }

  .menu-section:not(:first-child) {
    margin-top: 30px;
  }
  .menu-section-title {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .menu-section-item-title {
    font-size: 16px;
    line-height: 18px;
  }
  .menu-section-item-block-desc-title {
    font-size: 16px;
    line-height: 18px;
  }
  .menu-section-item-block-desc-text {
    font-size: 14px;
  }
  .menu-section-item-block-price-value {
    font-size: 14px;
  }
  .menu-section-item-block-price-weight {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .cafe-title {
    font-size: 26px;
    padding-bottom: 5px;
  }
  .cafe-title::after {
    width: 200px;
  }
  .cafe-tabs-target-link {
    font-size: 14px;
  }
  .cafe-tabs-block-info-text {
    font-size: 14px;
    padding: 10px 20px;
  }

  .menu-section:not(:first-child) {
    margin-top: 20px;
  }
  .menu-section-title {
    font-size: 18px;
    text-align: center;
    margin: 0 auto 10px;
  }
  .menu-section-item {
    flex-direction: column;
    justify-content: stretch;
  }
  .menu-section-item-block-desc {
    flex-basis: 100%;
  }
  .menu-section-item-block-desc-title {
    font-size: 14px;
  }
  .menu-section-item-block-price {
    align-items: flex-start;
    flex-basis: 100%;
  }
  .menu-section-item-block-price-value {
    margin-top: auto;
    font-size: 14px;
  }
  .menu-section-item-block-price-weight {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .menu-section:not(:first-child) {
    margin-top: 20px;
  }
  .menu-section-title {
    font-size: 18px;
  }
  .menu-section-item {
    max-width: 100%;
    padding: 7px 0 !important;
    border-right: 0 !important;
  }
  .menu-section-item-block-desc {
    flex-basis: 100%;
  }
  .menu-section-item-block-desc-title {
    font-size: 14px;
  }
  .menu-section-item-block-price {
    align-items: flex-start;
    flex-basis: 100%;
  }
  .menu-section-item-block-price-value {
    margin-top: auto;
    font-size: 14px;
  }
  .menu-section-item-block-price-weight {
    font-size: 12px;
  }
}
input,
select {
  border: 2px solid #ffb236;
  outline: #ffb236;
}
input:focus,
select:focus {
  outline: #ff9d00;
}
input:hover,
select:hover {
  outline: 1px solid #ffffff;
}

.primary-btn,
.subscribe-item-btn {
  cursor: pointer;
}
.primary-btn:active,
.subscribe-item-btn:active {
  outline: none;
  opacity: 0.7;
}

.primary-btn:hover,
.subscribe-mail-btn:hover {
  background: #ff9d00 !important;
}

.primary-btn {
  font-size: 16px;
}
.primary-btn:hover {
  box-shadow: 1px 1px 3px black;
}

.subscribe-item-btn:hover {
  opacity: 0.7;
}

a {
  transition: opacity 0.2s ease;
}
a:hover {
  opacity: 0.6;
}
a:focus {
  opacity: 0.6;
  outline: none;
}

.footer-body .subscribe-mail-form .subscribe-mail-btn, .section-subscribe-title, .inner-form h2, .about-card-title, .house-card-price-value {
  text-transform: uppercase;
}

.house-card,
.subscribe-item,
.content-item-wrapper {
  box-shadow: 5px 7px 10px #ccc;
}

.header-navigation-list li.arrow-current-page {
  pointer-events: none;
  position: relative;
}
.header-navigation-list li.arrow-current-page::after, .header-navigation-list li.arrow-current-page::before {
  content: " ";
  position: absolute;
  height: 14px;
  width: 5px;
  left: -20px;
  background: #ffb236;
}
.header-navigation-list li.arrow-current-page::after {
  bottom: -1px;
  transform: rotate(-135deg);
}
.header-navigation-list li.arrow-current-page::before {
  top: -1px;
  transform: rotate(135deg);
}

.mm-ocd--open .mm-spn--open > li.arrow-current-page a {
  color: #ffb236;
  padding: 12px 15px 12px !important;
}

.primary-link {
  border-bottom: 1px solid white;
}

.primary-field.icon,
.primary-control-select.icon,
.primary-control-datepicker.icon {
  background-repeat: no-repeat;
  background-position: left 0.3em center;
  background-size: 25px 25px;
}
.primary-field.icon.people,
.primary-control-select.icon.people,
.primary-control-datepicker.icon.people {
  background-image: url("../img/icon/people.svg");
}
.primary-field.icon.calendar,
.primary-control-select.icon.calendar,
.primary-control-datepicker.icon.calendar {
  background-image: url("../img/icon/calendar.svg");
}

/*===Header choose lang===*/
.header-navigation-lang-control:checked ~ .header-navigation-lang-items {
  opacity: 1;
  min-height: 60px;
  height: auto;
  pointer-events: unset;
  transition: all 0.25s;
}
.header-navigation-lang-control:checked ~ .header-navigation-lang-current::after {
  border-top: 0;
  border-bottom: 10px solid white;
}
.header-navigation-lang-items {
  background: white;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.596);
}
.header-navigation-lang-item {
  cursor: pointer;
  padding: 5px 3px;
}
.header-navigation-lang-item * {
  cursor: inherit;
  color: black;
}
.header-navigation-lang-item:hover {
  background-color: #b2ecfb;
}
.header-navigation-lang-item.current {
  background: #dddddd;
  border-bottom: 1px solid #b2ecfb;
  cursor: unset;
}
.header-navigation-lang-item.current:hover {
  background: #dddddd;
}

.main.blocked {
  position: relative;
  z-index: 0;
}

.main-body > section {
  position: relative;
}
.main-body > section .thumb-container {
  z-index: 1;
}
.main-body > section .wrapper {
  position: relative;
  z-index: 2;
}

.section-house {
  position: relative;
  padding: 60px 0 100px;
}

.house-card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}
.house-card-item {
  width: calc(100% / 4 - 20px);
  margin: 10px;
}

.house-card {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  background: #ccc;
}
.house-card-image {
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.house-card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background: rgba(56, 128, 124, 0.7);
}
.house-card-title {
  position: relative;
  font-size: 21px;
}
.house-card-title:hover {
  color: #ececec;
}
.house-card-title::before {
  position: absolute;
  font-size: 75%;
  top: -15px;
  left: 0;
  content: attr(data-type) " ";
}
.house-card-price {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.house-card-price-value {
  font-size: 20px;
}
.house-card-price-value::before {
  font-size: 80%;
  text-transform: none;
  content: attr(data-before) " ";
}
.house-card-price-value::after {
  font-size: 80%;
  text-transform: none;
  content: " " attr(data-after);
}

.section-about {
  padding: 110px 0 190px;
  background: #f2f0e9;
}
.section-about-title {
  padding-bottom: 10px;
  margin: 15px 0 60px;
}
.section-about::after {
  content: "";
  position: absolute;
  top: 0;
  height: 43px;
  width: 100%;
  background: url("../img/wawe/white_wawe_bottom.png") center no-repeat;
  background-size: 100% 100%;
}

.about-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: center;
}
.about-item {
  display: flex;
  overflow: hidden;
  margin: 10px;
  width: calc(100% / 3 - 20px);
}
@media screen and (max-width: 768px) {
  .about-item {
    width: calc(80% / 2 - 20px);
  }
}
@media screen and (max-width: 666px) {
  .about-item {
    width: calc(100% / 2 - 10px);
    margin: 5px;
  }
}
@media screen and (max-width: 460px) {
  .about-item {
    width: calc(100% - 20px);
    margin: 8px auto;
  }
}
.about-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border: 2px #ffb236 dotted;
  background: white;
  border-radius: 10px;
  padding: 15px 10px;
}
.about-card-picture img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 70px;
}
.about-card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1 0;
  justify-content: space-between;
}
.about-card-title {
  font-size: 24px;
  margin: 15px 0 5px;
  font-family: "Exo 2", sans-serif;
  color: #4f8757;
}
.about-card-btn {
  align-self: center;
  font-size: 14px;
  padding: 16px 46px;
  font-weight: 600;
  margin-top: 20px;
  background: #3c7244;
}
.about-card-description {
  font-size: 18px;
  line-height: 28px;
  word-break: break-word;
}
@media screen and (max-width: 992px) {
  .about-card {
    margin: 0 auto;
  }
  .about-card-description {
    font-size: 16px;
    line-height: 22px;
  }
  .about-card-picture img {
    height: 250px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
  }
}

.section-questions {
  background: #388067;
  padding: 50px 0 70px;
}
.section-questions .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-questions-title {
  color: rgba(255, 255, 255, 0.7) !important;
  text-align: center;
  padding-bottom: 10px;
  margin: 25px 0 65px;
}
.section-questions-title::after {
  background-image: url("../img/wawe/wawe_light_under_text.svg");
  background-size: auto 17px;
  background-repeat: repeat-x;
}
.section-questions::after {
  content: "";
  position: absolute;
  background: #388067;
  bottom: -5px;
  height: 10px;
  width: 100%;
}
.section-questions::before {
  content: "";
  position: absolute;
  top: -107px;
  background: url("../img/wawe/wawes.png") no-repeat;
  background-position-x: center;
  height: 110px;
  width: 100%;
}

.wawe-yellow::after {
  background-image: url(../img/wawe/wawe_yellow_under_text.png) !important;
}
.wawe-light-green::after {
  background-image: url("../img/wawe/wawe_light_under_text.svg") !important;
}
.wawe-default-green::after {
  background-image: url("../img/wawe/wawe_under_text.png") !important;
}

.question-items {
  margin-bottom: 55px;
}
.question-items h3,
.question-items p {
  color: white;
}
.question-item {
  margin-bottom: 35px;
}
.question-item:last-child {
  margin: 0;
}
.question-item-title {
  font-size: 22px;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 6px;
}
.question-item-ansver {
  font-size: 18px;
  line-height: 26px;
  word-break: break-word;
}
.question-read-more {
  position: relative;
  font-size: 18px;
}
.question-read-more::after, .question-read-more::before {
  content: " ";
  position: absolute;
  bottom: -160%;
  transform: translate(-50%, 0);
  height: 19px;
  width: 5px;
  background: #ffb236;
}
.question-read-more::after {
  transform: rotate(-45deg);
  left: 46%;
}
.question-read-more::before {
  right: 45%;
  transform: rotate(45deg);
}

.section-form-label {
  background: url("../img/bg/decor_content_bg.jpg") no-repeat;
  background-position: top;
  background-size: cover;
  padding: 137px 0 171px;
}
.section-form-label .inner-form .primary-form .primary-control {
  width: calc(100% / 2);
}
.section-form-label .inner-form .primary-form .primary-control-datepicker, .section-form-label .inner-form .primary-form .primary-control-select {
  width: calc(100% - 1.6em) !important;
}

.inner-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 20px 50px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  width: calc(100% / 12 * 10);
}
.inner-form h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.inner-form .section-form .primary-field,
.inner-form .section-form .primary-btn {
  flex-basis: 100%;
  max-width: 362px;
  height: 65px;
  font-size: 17px;
}
.inner-form .section-form .primary-btn {
  max-width: 423px;
  font-size: 17px;
}

.section-subscribe {
  background: white;
  padding-top: 55px;
  padding-bottom: 90px;
  position: relative;
}
.section-subscribe-title {
  font-size: 30px;
  text-align: center;
  color: #4f8757;
}
.section-subscribe-subtitle {
  font-size: 20px;
  text-align: center;
  margin: 25px 0 70px;
  padding-bottom: 15px;
  color: #4d4d4d;
}
.section-subscribe::before {
  content: "";
  position: absolute;
  top: -40px;
  height: 43px;
  width: 100%;
  background-image: url("../img/wawe/white_wawe_export_edit.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
}
.section-subscribe.second-theme {
  background: #f2f0e9;
  padding: 80px 0 60px;
}
.section-subscribe.second-theme::before {
  background-image: url("../img/wawe/white_wawe_bottom.png");
  top: -1px;
}

.subscribe-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 35px -10px 0;
}
.subscribe-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 230px;
  margin: 10px;
  width: calc(100% / 3 - 20px);
  overflow: hidden;
  padding: 15px 15px;
  color: white;
}
.subscribe-item-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.subscribe-item-bg img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.subscribe-item-bg::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.3;
}
.subscribe-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  z-index: 2;
}
.subscribe-item-header-logo {
  margin-right: 9px;
}
.subscribe-item-header-title {
  font-family: "Exo 2", sans-serif;
  font-size: 12px;
}
.subscribe-item-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background: white;
  z-index: 2;
}
.subscribe-item-btn {
  color: white;
  margin: auto auto 10px auto;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  width: 185px;
  height: 30px;
}
.subscribe-item-btn.vk {
  background: #5584ba;
}
.subscribe-item-btn.inst {
  background: #0095f6;
}
.subscribe-item-btn.youtube {
  background: #ff0000;
}

.footer {
  position: relative;
  z-index: 1;
  min-height: 410px;
  padding: 60px 15px;
  color: white;
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.footer-head {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: column;
  align-items: flex-start;
  min-width: 250px;
  max-width: 350px;
}
.footer-confidential-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-confidential-info * {
  font-size: 14px;
  line-height: 18px;
}
.footer-confidential-info p::before {
  content: attr(before-symbol) " ";
}
.footer-body {
  display: grid;
  flex-grow: 1;
  flex-basis: auto;
  margin-top: 30px;
}
.footer-body .subscribe-mail-form {
  display: grid;
  column-gap: 20px;
  margin-top: 60px;
  grid-template-columns: 1fr 1fr 150px;
}
.footer-body .subscribe-mail-form * {
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.footer-body .subscribe-mail-form .subscribe-mail-field,
.footer-body .subscribe-mail-form .subscribe-mail-btn {
  padding: 10px 15px;
  min-width: 265px;
  height: 40px;
  margin: 0 !important;
  border-radius: 0 !important;
}
.footer-body .subscribe-mail-form .subscribe-mail-field {
  text-align: center;
  border: 1px solid white;
  background: transparent;
}
.footer-body .subscribe-mail-form .subscribe-mail-field::-webkit-input-placeholder {
  color: inherit;
}
.footer-body .subscribe-mail-form .subscribe-mail-field:-ms-input-placeholder {
  color: inherit;
}
.footer-body .subscribe-mail-form .subscribe-mail-field::-moz-placeholder {
  color: inherit;
}
.footer-body .subscribe-mail-form .subscribe-mail-btn {
  background: #ffb236;
  color: #4d4d4d;
  font-weight: 600 !important;
}
.footer-body .subscribe-mail-form .subscribe-mail-btn:hover {
  box-shadow: none;
}
.footer-body .subscribe-mail-form .subscribe-group-checkbox {
  display: flex;
  justify-content: flex-end;
  grid-column: 2/-1;
  justify-self: start;
  width: auto;
  margin-top: 30px;
}
.footer-body .subscribe-mail-form .subscribe-group-checkbox .subscribe-mail-checkbox {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.footer-body .subscribe-mail-form .subscribe-group-checkbox .subscribe-mail-checkbox:hover {
  cursor: pointer;
  outline: #ffb236;
  outline-style: solid;
  outline-offset: 1px;
  outline-width: 2px;
}
.footer-body .subscribe-mail-form .subscribe-group-checkbox label {
  cursor: pointer !important;
  line-height: 20px;
}
.footer-social-icons {
  display: flex;
  align-items: center;
}
.footer-social-icons .social-icon {
  margin: 0 5px;
}
.footer-navigation-items {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 150px;
  align-content: start;
}
.footer-navigation-sublist li {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 3px;
}
.footer-navigation-sublist li:first-child {
  color: #ffb236;
}
.footer-navigation-sublist li:last-child {
  margin-bottom: 0;
}

.mm {
  --mm-spn-item-height: 35px !important;
}

.mm-spn li:after {
  border-top: 0 !important;
}

.mm-spn a,
.mm-spn span {
  padding: 10px 15px !important;
}

@media (max-width: 1200px) {
  .section-subscribe::before,
.section-about::after {
    background-size: cover;
  }

  .footer-main {
    flex-direction: column;
    margin: 0 30px;
  }
  .footer-head {
    flex-direction: row;
    justify-content: center;
    max-width: none;
  }
  .footer-head .footer-confidential-info {
    margin: 0 0 0 25px;
    align-self: center;
  }
  .footer-head .footer-confidential-info * {
    font-size: 15px !important;
  }
  .footer-body {
    margin: 30px 0 0px;
    align-self: center;
    max-width: 750px;
  }
  .footer-body .footer-navigation-items * {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .section-subscribe::before,
.section-about::after {
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 992px) {
  .house-card-item {
    width: calc(100% / 3 - 20px);
  }

  .footer {
    padding: 35px 0 25px;
  }
  .footer-main {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-head {
    flex-direction: row;
    justify-content: center;
    min-width: auto;
  }
  .footer-head .footer-confidential-info {
    margin: 0 0 0 25px;
    align-self: center;
  }
  .footer-head .footer-confidential-info * {
    font-size: 15px !important;
  }
  .footer-body {
    margin: 25px 0;
  }
  .footer-body .footer-navigation-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
    column-gap: 0;
  }
  .footer-body .footer-navigation-items .footer-navigation-item {
    padding: 15px 0 10px;
  }
  .footer-body .footer-navigation-items .footer-navigation-item * {
    line-height: 20px !important;
  }
  .footer-body .subscribe-mail-form {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
  }
  .footer-body .subscribe-mail-form .subscribe-mail-field {
    justify-self: start;
  }
  .footer-body .subscribe-mail-form .subscribe-mail-btn {
    justify-self: end;
  }
  .footer-body .subscribe-mail-form .footer-social-icons {
    display: none;
  }
  .footer-body .subscribe-mail-form .subscribe-group-checkbox {
    grid-column: 1/-1;
    justify-self: center;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .primary-btn {
    font-size: 14px;
  }

  .title-decoration::after, .content-title::after, .section-about-title::after, .section-questions-title::after, .section-subscribe-subtitle::after {
    background-size: auto 12px;
    height: 17px;
    width: 280px;
  }

  .section-house {
    margin-top: 20px;
    padding: 10px 0 40px !important;
  }

  .house-card-items {
    margin: 0 -5px;
  }
  .house-card-item {
    margin: 10px;
    width: calc(90% / 2 - 10px);
  }
  .house-card-title, .house-card-price .house-card-price-value {
    font-size: 16px;
  }
  .house-card-price-description {
    font-size: 16px;
    line-height: 16px;
  }

  .section-about {
    padding: 60px 0 120px;
    background: #f2f0e9;
  }
  .section-about-title {
    font-size: 24px;
    padding-bottom: 5px;
    margin: 15px 0 30px;
  }

  .about-card {
    max-width: 310px;
    padding: 10px;
  }
  .about-card-picture img {
    max-width: 100%;
  }
  .about-card-body {
    padding: 5px 0;
  }
  .about-card-title {
    margin: 6px 0;
    font-size: 18px;
    line-height: 20px;
  }
  .about-card-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background: #3c7244;
  }
  .about-card-description {
    font-size: 14px;
    line-height: 18px;
  }

  .section-questions {
    padding: 15px 0 50px;
  }
  .section-questions-title {
    font-size: 22px;
  }

  .question-items {
    margin-bottom: 25px;
  }

  .question-item {
    margin-bottom: 30px;
  }
  .question-item:last-child {
    margin: 0;
  }
  .question-item-title {
    font-size: 16px;
    margin-bottom: 2px;
  }
  .question-item-ansver {
    font-size: 14px;
    line-height: 22px;
  }

  .question-read-more {
    font-size: 14px;
  }
  .question-read-more::after, .question-read-more::before {
    height: 16px;
    width: 4px;
  }

  .section-form-label {
    padding: 80px 0 80px;
  }
  .section-form-label h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .section-form-label .inner-form {
    padding: 25px 15px 25px;
  }
  .section-form-label .inner-form .section-form {
    padding: 10px 0 0;
  }
  .section-form-label .inner-form .section-form * {
    font-size: 14px;
  }
  .section-form-label .inner-form .section-form .primary-field,
.section-form-label .inner-form .section-form .primary-btn {
    height: 45px;
    margin: 5px;
    max-width: 80%;
  }
  .section-form-label .inner-form .section-form .primary-btn {
    margin: 10px 5px;
  }

  .section-subscribe {
    padding: 30px 0 40px;
  }
  .section-subscribe-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .section-subscribe-subtitle {
    font-size: 16px;
    padding-bottom: 10px;
    margin: 10px 0 35px;
  }
  .section-subscribe.second-theme {
    padding: 80px 0 40px;
  }

  .subscribe-items {
    margin: 25px 0 0;
  }

  .subscribe-item {
    height: auto;
    min-height: 250px;
    width: 70%;
    margin: 12px 6px;
  }
  .subscribe-item-bg img {
    height: 100%;
    width: 100%;
  }
  .subscribe-item-body {
    height: 100%;
    width: 100%;
  }

  .footer-main {
    margin: 0;
  }
  .footer-head {
    min-width: auto;
  }
  .footer-body {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-body .footer-navigation-items {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: space-around;
  }
  .footer-body .footer-navigation-items * {
    font-size: 16px !important;
  }
  .footer-body .subscribe-mail-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0;
  }
  .footer-body .subscribe-mail-form .subscribe-mail-field,
.footer-body .subscribe-mail-form .subscribe-mail-btn {
    margin: 10px !important;
    font-size: 14px;
  }
  .footer-body .subscribe-mail-form .subscribe-group-checkbox {
    display: flex;
    margin-top: 15px;
  }
  .footer-body .subscribe-mail-form .subscribe-group-checkbox * {
    font-size: 12px !important;
  }
  .footer-body .subscribe-mail-form .subscribe-group-checkbox .subscribe-mail-checkbox {
    margin-top: 5px;
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 550px) {
  .house-card-items {
    margin: 0px -10px;
  }
  .house-card-item {
    width: calc(100% / 2 - 20px);
  }
}
@media screen and (max-width: 450px) {
  .wrapper {
    padding: 0 10px;
  }

  .house-card-body {
    padding: 15px;
  }
  .house-card-items {
    margin: 0;
  }
  .house-card-item {
    font-size: 18px;
    margin: 10px;
    width: calc(100% - 10px);
    max-width: 350px;
  }
  .house-card-title {
    font-size: 1em;
  }
  .house-card-price-value {
    font-size: 1em;
  }
  .house-card-price-description {
    font-size: 1em;
  }

  .section-about-title::after {
    width: 200px;
  }

  .section-questions-title {
    font-size: 20px;
  }
  .section-questions-title::after {
    width: 200px;
  }

  .section-form-label h2 {
    font-size: 20px;
  }

  .section-subscribe-title {
    font-size: 20px;
  }
  .section-subscribe-subtitle {
    font-size: 16px;
  }
  .section-subscribe-subtitle::after {
    width: 200px;
  }
  .section-subscribe .subscribe-items .subscribe-item {
    height: auto;
    min-height: 250px;
    width: 100%;
  }

  .footer-head {
    flex-direction: column;
    align-items: center;
  }
  .footer-head .footer-logo {
    width: 80px;
    height: 80px;
  }
  .footer-head .footer-confidential-info {
    margin: 20px 0 0;
    text-align: center;
  }
  .footer-head .footer-confidential-info * {
    font-size: 12px !important;
  }
  .footer-body {
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .footer-body .footer-navigation-items {
    flex-direction: column;
    align-self: center;
    margin: 10px 0;
    padding: 0;
  }
  .footer-body .footer-navigation-items .footer-navigation-item {
    align-self: center;
    text-align: center;
    margin-top: 15px;
    padding: 0;
  }
  .footer-body .footer-navigation-items .footer-navigation-item:first-child {
    margin: 0;
  }
  .footer-body .footer-navigation-items .footer-navigation-item .footer-navigation-sublist li {
    font-size: 18px !important;
    margin-bottom: 5px;
  }
  .footer-body .footer-navigation-items .footer-navigation-item .footer-navigation-sublist li * {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .footer-body .subscribe-mail-form {
    flex-direction: column;
    align-items: center;
  }
  .footer-body .subscribe-mail-form .subscribe-group-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .footer-body .subscribe-mail-form .subscribe-group-checkbox .subscribe-mail-checkbox {
    display: block;
    margin: 10px 0;
  }
  .footer-body .subscribe-mail-form .subscribe-group-checkbox label {
    text-align: center;
    font-size: 12px !important;
    line-height: 16px;
  }
}
@media screen and (max-width: 360px) {
  .house-card-item {
    width: calc(100% - 10px);
  }
  .house-card-title, .house-card-price .house-card-price-value {
    font-size: 16px;
  }
  .house-card-price-description {
    font-size: 16px;
    line-height: 16px;
  }

  .section-form-label h2 {
    font-size: 18px;
  }
  .section-form-label .inner-form {
    padding: 5px;
  }
  .section-form-label .inner-form .section-form .primary-field,
.section-form-label .inner-form .section-form .primary-btn {
    width: 80%;
    max-width: 80%;
    min-width: auto;
  }

  .footer-body .subscribe-mail-form .subscribe-mail-btn,
.footer-body .subscribe-mail-form .subscribe-mail-field {
    width: 100%;
    height: auto;
    min-width: auto;
    max-width: 100%;
    margin: 8px 0 !important;
  }
}
.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.content-title {
  margin: 0 0 30px;
  font-size: 36px;
  color: #3d2a0c;
}
.content-title::after {
  background-image: url("../img/wawe/wawe_yellow_under_text.png");
}
.content-body {
  margin: 25px 0;
  align-self: stretch;
}
.content-body * {
  color: #3d2a0c;
}
.content-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.content-item-wrapper {
  margin: 10px;
  width: calc(100% / 2 - 20px);
}
.content-item-wrapper.row {
  margin: 10px !important;
  width: calc(100% - 20px) !important;
}
.content-item {
  display: flex;
  position: relative;
}
.content-item-background {
  position: relative;
  z-index: 1;
  background: #ccc;
  overflow: hidden;
}
.content-item-background img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.content-item-body {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: rgba(20, 93, 107, 0.7);
}
.content-item-body * {
  color: white;
}
.content-item-body-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 7px 0;
}
.content-item-body-link {
  padding: 14px 34px;
  border: 1px solid white;
}
.content-item-body-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}
.content-item-body-price-value {
  font-size: 20px;
}
.content-item-body-price-value::before {
  font-size: 80%;
  text-transform: none;
  content: attr(data-before) " ";
}
.content-item-body-price-value::after {
  font-size: 80%;
  text-transform: none;
  content: " " attr(data-after);
}
.content-item-body-price-info {
  font-size: 15px;
}
.content-map {
  max-width: 100%;
  height: auto;
}

.content-subtitle {
  font-size: 24px;
  margin-top: 1em;
  text-align: left;
  text-transform: uppercase;
}
.content-subtitle .align-center {
  text-align: center;
}
.content-form {
  display: flex;
  flex-direction: column;
  margin: 0 -10px;
}
.content-slider {
  position: relative;
  margin: 0 -10px;
}

.control-field, .control-textarea {
  min-width: 50%;
  font-size: 18px;
  border: 1px solid #ffb236;
  margin: 5px 0;
  padding: 12px 15px;
  font-family: inherit;
}
.control-field:focus, .control-textarea:focus {
  outline: 1px solid #ffb236;
}
.control-textarea {
  font-size: 16px;
  min-height: 160px;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.control-form {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.control-column {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: calc(100% / 2 - 20px);
  margin: 10px;
}
.control-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.control-row.checkbox {
  width: 60%;
  align-self: center;
  margin: 0 auto;
}
.control-checkbox-group {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}
.control-checkbox-group input[type=checkbox] {
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 0 1px #ffb236;
  margin: 0 4px;
}
.control-checkbox-group input[type=checkbox]:focus, .control-checkbox-group input[type=checkbox]:hover {
  outline: 1px solid #ffb236;
}
.control-checkbox-group label {
  flex: 1 1 0;
  margin: 4px;
  font-size: 14px;
  line-height: 18px;
}
.control-btn {
  padding: 12px 40px;
  width: auto;
  height: auto;
  min-width: auto;
}

/*Вспомогательные классы - костыли*/
.flex-stretch {
  align-self: stretch;
}

.flex-grow-1 {
  flex-grow: 1;
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider-content {
  display: flex;
}
.slider-content.animated {
  transition: transform 0.2s cubic-bezier(1, 0.07, 0, 0.99);
}
.slider-item {
  display: block;
  padding: 20px 60px 10px;
  border: 1px dotted #ffb236;
  margin: 10px 0;
  min-width: 100%;
}
.slider-item-title {
  font-size: 24px;
  margin: 15px 0;
}
.slider-item-time {
  opacity: 0.7;
  margin: 15px 0;
}
.slider-item-text {
  font-size: 16px;
  border: 1px dotted black;
  padding: 10px 10px 30px;
  margin: 15px 0;
}
.slider-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  cursor: pointer;
  background: transparent;
}
.slider-btn:focus {
  outline: none;
  box-shadow: 5px 5px 20px #ffb236;
  background: rgba(255, 178, 54, 0.2);
  border-radius: 50%;
}
.slider-btn:hover {
  transition: opacity 0.25s ease;
  opacity: 0.7;
}
.slider-btn::after, .slider-btn::before {
  content: " ";
  position: absolute;
  height: 22px;
  width: 5px;
  background: #ffb236;
}
.slider-btn::after {
  bottom: -7px;
  transform: rotate(-135deg);
}
.slider-btn::before {
  top: -7px;
  transform: rotate(135deg);
}
.slider-btn.previous {
  left: -50px;
  transform: rotate(180deg) translate(0, 50%);
}
.slider-btn.next {
  right: -50px;
  transform: rotate(360deg) translate(0, -50%);
}
.slider-btn:disabled {
  display: none;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  padding: 0.5em;
  margin: 5px 0 5px 2.5em;
}
.contacts-info * {
  font-size: 16px;
  font-family: inherit;
  font-style: inherit;
}
.contacts-info-address::before, .contacts-info-phone-list::before, .contacts-info-mail::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' viewBox='0 0 1.41 1.86'%3E%3Cdefs/%3E%3Cpath fill='%23ffb236' d='M.7.39a.3.3 0 01.31.31.3.3 0 01-.31.31A.3.3 0 01.39.7C.39.53.53.39.7.39zM.7 0c.39 0 .71.32.71.7 0 .19-.08.36-.2.49l-.01.02-.45.62c-.03.03-.07.03-.09 0l-.45-.62-.02-.02A.7.7 0 01.7 0z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 17px;
  height: 23px;
  left: -47px;
}
.contacts-info-address {
  position: relative;
}
.contacts-info-phone-list {
  position: relative;
  margin: 0.8em 0;
}
.contacts-info-phone-list li {
  margin: 0.2em 0;
}
.contacts-info-phone-list:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' viewBox='0 0 2.05 2.38'%3E%3Cdefs/%3E%3Cpath fill='%23ffb236' d='M.59.74L.56.76c-.14.1.08.44.2.59l.05.07c.11.15.39.46.51.36l.05-.03.05-.04.06-.04c.17-.13.34-.04.47.13l.05.06c.08.11.06.21-.05.3l-.06.04-.05.03c-.08.06-.27.12-.34.13-.1.02-.07.03-.16-.02a2.83 2.83 0 01-.72-.66l-.16-.21A2.96 2.96 0 01.08.78L.02.61C-.01.53 0 .53.03.45.07.39.18.21.25.15L.3.11.39.04C.5-.04.6 0 .68.12l.06.07C.85.34.86.53.7.65L.65.69.59.74z'/%3E%3C/svg%3E ");
  top: 0.2em;
}
.contacts-info-mail {
  position: relative;
  margin-bottom: 1em;
}
.contacts-info-mail::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' viewBox='0 0 1.82 1.82'%3E%3Cdefs/%3E%3Cpath fill='%23ffb236' fill-rule='nonzero' d='M1.62 1.39h.2a.65.65 0 01-.29.3c-.15.09-.33.13-.54.13-.21 0-.39-.04-.54-.11a.69.69 0 01-.34-.31.97.97 0 01.02-.94.82.82 0 01.34-.35 1.12 1.12 0 01.92-.02c.12.06.22.15.28.27.07.11.1.23.1.37 0 .16-.05.3-.15.43a.55.55 0 01-.47.25c-.06 0-.1-.01-.12-.03C1 1.36.98 1.34.98 1.3a.38.38 0 01-.26.11.35.35 0 01-.26-.11c-.07-.07-.1-.17-.1-.29C.36.87.4.73.48.61.58.46.71.39.87.39c.11 0 .19.04.24.12l.03-.1h.25l-.15.68-.01.08.01.03.03.02c.03 0 .07-.02.11-.06a.5.5 0 00.16-.19.57.57 0 00.06-.25.5.5 0 00-.17-.39.68.68 0 00-.47-.16.83.83 0 00-.43.11.69.69 0 00-.27.29.93.93 0 00-.09.4c0 .13.04.25.1.36a.6.6 0 00.28.24c.13.05.26.07.42.07.15 0 .28-.02.39-.06.11-.04.19-.1.26-.19zM.6 1c0 .08.02.14.05.18.03.04.07.06.12.06.04 0 .07-.01.1-.03a.19.19 0 00.07-.06.65.65 0 00.09-.17.75.75 0 00.03-.2c0-.07-.01-.13-.05-.17A.17.17 0 00.89.56a.2.2 0 00-.15.06.32.32 0 00-.1.18.54.54 0 00-.04.2z'/%3E%3C/svg%3E ");
}

@media screen and (max-width: 992px) {
  .content-title {
    font-size: 28px;
  }
  .content-title::after {
    width: 140%;
  }
  .content-item-wrapper {
    margin: 5px;
    width: calc(100% / 2 - 10px);
  }
  .content-item-body {
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    width: 100%;
    min-height: 80px;
    padding: 10px;
  }
  .content-item-body-title {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding-right: 50%;
  }
  .content-item-body-link {
    position: absolute;
    font-size: 14px;
    padding: 15px 20px;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .content-item-body-price {
    align-items: flex-start;
    margin: 0;
  }
  .content-item-body-price-value {
    font-size: 16px;
  }
  .content-item-body-price-info {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .content-title {
    font-size: 24px;
    padding-bottom: 5px;
  }
  .content-body {
    margin: 15px 0;
  }
  .content-item-body {
    padding: 10px;
  }
  .content-item-body-title {
    font-size: 14px;
  }
  .content-item-body-link {
    font-size: 12px;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 666px) {
  .content-item-background img {
    min-height: 300px;
    object-fit: cover;
  }
}
@media screen and (max-width: 450px) {
  .content-title {
    font-size: 22px;
    padding-bottom: 5px;
  }
  .content-body {
    margin: 15px 0 10px;
  }
  .content-item-wrapper {
    margin: 5px;
    width: calc(100% - 10px);
  }
  .content-item-body-link {
    font-size: 12px;
    padding: 10px 25px;
    border: 1px solid white;
  }
}
.btn {
  padding: 5px 10px;
  border-radius: 15px;
}
.btn-primary {
  background-color: black;
}
.btn-light {
  background-color: white;
}

.reservation-card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 35px;
  border: 2px dotted #ffb236;
}
.reservation-card * {
  color: black;
}

.reservation-general {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
}
.reservation-general-group {
  display: inline-block;
}
.reservation-general-group:first-child {
  padding-right: 15px;
  margin-right: auto;
}
.reservation-general-title {
  font-size: 28px;
  margin-bottom: 0.2em;
  color: #4f8757 !important;
}
.reservation-general-title[data-status]::after {
  content: " | " attr(data-status);
}
.reservation-general-price {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4f8757 !important;
}
.reservation-general-price::before {
  font-size: 0.8em;
  content: attr(data-before) " ";
}
.reservation-general-price::after {
  font-size: 0.8em;
  content: " " attr(data-after);
}
.reservation-general-info {
  position: relative;
  white-space: nowrap;
  color: black !important;
  font-size: 16px;
  margin-top: 1.3em;
  padding-left: 3em;
}
.reservation-general-info::before {
  display: inline;
  position: absolute;
  top: -1.3em;
  right: 0;
  content: attr(data-before) " ";
}
.reservation-general-info::after {
  content: " " attr(data-after);
}

.reservation-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.reservation-body-text {
  display: inline-block;
  flex-basis: 0;
  flex-grow: 2;
  display: flex;
  font-size: 14px;
  min-width: 350px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 5px 10px;
  border: 1px dotted black;
}
.reservation-body-calendar {
  flex-basis: 0;
  flex-grow: 1;
}

.reservation-form {
  margin-top: 10px;
}
.reservation-form-inline {
  display: inline-flex;
  flex-wrap: wrap;
  color: #4f8757 !important;
  font-weight: bold;
  font-size: 16px;
}
.reservation-form-inline-label {
  display: inline-block;
  margin-right: 20px;
  padding-left: 1em;
  font-weight: inherit;
  font-size: 1em;
  color: inherit !important;
  outline: 1px solid #38807c;
  outline-offset: -1px;
  margin-bottom: 5px;
}
.reservation-form-inline-field {
  display: inline-block;
  max-width: 5em;
  height: 100%;
  margin-left: 1em;
  padding: 1em 0;
  font-size: 1em;
  font-weight: inherit;
  text-align: center;
  color: inherit !important;
  outline: 1px solid #38807c;
  outline-offset: -1px;
  border: 0 !important;
}
.reservation-form-inline-field::placeholder, .reservation-form-inline-field::-webkit-input-placeholder {
  color: inherit !important;
}
.reservation-form-inline-field:hover, .reservation-form-inline-field:focus {
  outline: 1px solid #38807c;
}
.reservation-form-inline-btn {
  display: inline-block;
  padding: 0.9em 1.8em;
  font-size: 1em;
  color: white !important;
  cursor: pointer;
  background-color: #4f8757;
  margin-bottom: 5px;
}
.reservation-form-inline-btn:active {
  box-shadow: 1px 1px 6px #ccc;
}
.reservation-form-inline-btn:hover {
  background-color: #52a55d;
}

.reservation-picture {
  display: inline-block;
  max-width: 342px;
  max-height: 302px;
  margin-right: 30px;
}
.reservation-picture img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  border-radius: 0 50px 0 50px;
}

@media screen and (max-width: 992px) {
  .reservation-card {
    padding: 15px;
    flex-direction: column;
    align-items: stretch;
  }

  .reservation-general {
    flex-direction: column;
    align-items: stretch;
  }
  .reservation-general-title {
    font-size: 24px;
  }
  .reservation-general-price {
    font-size: 20px;
  }
  .reservation-general-info {
    padding-left: 0;
    margin: 5px 0;
  }
  .reservation-general-info::before {
    position: static;
    display: inline;
  }

  .reservation-body-text {
    min-width: unset;
    flex-basis: 100%;
  }

  .reservation-picture {
    margin: 0 0 15px;
  }
  .reservation-picture img {
    border-radius: 0 20px 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .reservation-card {
    padding: 10px;
  }

  .reservation-general {
    text-align: center;
  }
  .reservation-general-group:first-child {
    margin-right: 0;
  }
  .reservation-general-info::before {
    position: static;
    display: inline;
  }

  .reservation-body {
    align-items: center;
    flex-direction: column;
  }
  .reservation-body-text {
    margin: 0 0 15px;
  }

  .reservation-form {
    display: flex;
    justify-content: center;
  }
  .reservation-form-inline-label {
    margin: 0 15px;
  }
  .reservation-form-inline-group {
    margin: 5px auto;
  }
  .reservation-form-inline-btn {
    margin: 5px auto;
  }

  .reservation-picture {
    align-self: center;
  }
}
@media screen and (max-width: 450px) {
  .reservation-card {
    padding: 5px;
  }

  .reservation-body-calendar img {
    width: 100%;
  }

  .reservation-general-title {
    font-size: 22px;
  }

  .reservation-form-inline {
    font-size: 14px;
  }

  .reservation-picture {
    max-width: none;
    align-self: stretch;
  }
  .reservation-picture img {
    width: 100%;
    border-radius: 5px;
    min-width: unset;
    min-height: unset;
  }
}
@media screen and (max-width: 1400px) {
  .slider {
    margin: 0 10px;
  }
  .slider-item {
    padding: 20px 90px 10px;
  }
  .slider-btn.previous {
    left: 30px;
  }
  .slider-btn.next {
    right: 30px;
  }
}
@media screen and (max-width: 992px) {
  .content-subtitle {
    font-size: 20px;
  }

  .slider {
    margin: 0 10px;
  }
  .slider-item {
    padding: 20px 60px 10px;
  }
  .slider-item-title {
    font-size: 18px;
    margin: 5px 0;
  }
  .slider-item-time {
    font-size: 12px;
    margin: 5px 0;
  }
  .slider-item-text {
    margin: 5px 0;
  }
  .slider-btn.previous {
    left: 20px;
  }
  .slider-btn.next {
    right: 20px;
  }

  .control-field {
    font-size: 16px;
  }
  .control-textarea {
    font-size: 14px;
  }
}
@media screen and (max-width: 666px) {
  .control-column {
    width: calc(100% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .control-column {
    max-width: 100%;
  }
  .control-row.checkbox {
    max-width: 90%;
    width: 100%;
  }
  .control-field {
    padding: 10px 10px;
    font-size: 14px;
  }
  .control-textarea {
    padding: 10px 10px;
    min-height: 150px;
  }

  .content-subtitle {
    font-size: 18px;
  }

  .contacts-info * {
    font-size: 14px;
  }

  .section-subscribe {
    margin-top: 0;
  }

  .section-form-label .inner-form {
    width: 100%;
    min-height: 350px;
    padding: 20px 10px;
  }
  .section-form-label .inner-form .primary-form-row {
    margin: 0 -8px;
  }
}
@media screen and (max-width: 450px) {
  .control-row.checkbox {
    max-width: none;
  }
  .control-field {
    font-size: 14px;
  }
  .control-textarea {
    min-height: 150px;
  }
  .control-checkbox-group label {
    font-size: 12px;
  }

  .content-subtitle {
    font-size: 16px;
    margin: 1em 0 0.5em;
    text-align: center;
  }

  .slider-item {
    padding: 20px 35px;
    border-top: 2px dotted #ffb236;
    border-bottom: 2px dotted #ffb236;
    border-left: 0;
    border-right: 0;
  }
  .slider-item-text {
    font-size: 14px;
  }
  .slider-btn.previous {
    left: 10px;
  }
  .slider-btn.next {
    right: 10px;
  }
  .slider-btn::before, .slider-btn::after {
    height: 14px;
    width: 4px;
  }
  .slider-btn::before {
    top: -2px;
  }
  .slider-btn::after {
    bottom: 0px;
  }

  .section-form-label .inner-form .primary-form .primary-control {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
